<form [formGroup]="myForm" >
    <mat-card class="mb-15 tagus-card">
        <mat-card-content>
            <div class="row">
                <div class="col-lg-6">
                    <v-text-box 
                        label="Tên"
                        [control]="elementFormControl('firstName')"
                        [required]="true"
                        [message] = "errorMessage.firstName"
                        (touched)="onTouch('firstName')"
                    ></v-text-box>
                
                </div>

                <div class="col-lg-6">
                    <v-text-box 
                        label="Tên"
                        [control]="elementFormControl('firstName')"
                        [required]="true"
                        [message] = "errorMessage.firstName"
                        (touched)="onTouch('firstName')"
                    ></v-text-box>
                
                </div>
        </div>
        </mat-card-content>

        
    </mat-card>

</form>
