
<mat-card class="mb-15 mt-m13 tagus-card">
    <mat-card-header class="mb-15">
        <div class="d-flex justify-content-center">
            <v-button
                
                class="me-10"
                type="primary-hb"
                type="primary-hb"
                (click)="addNewArticle()"
            >
                <i class="ri-add-fill"></i> Thêm mới
            </v-button>
        </div>
    </mat-card-header>
    <mat-card-content>
        <div class="mt-15 no-shadow">
            <v-table
                [data]="listData"
                [displayedColumns]="displayedColumns"
                (tableChange)="onTableChange($event)"
                [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions"
                [resetPageIndex]="resetPageIndex"
            >
                <ng-container matColumnDef="index">
                    <th mat-header-cell *matHeaderCellDef class="text-center">
                        <div
                            class="d-flex justify-content-center align-items-center"
                        >
                            STT
                        </div>
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-start">
                        {{ element.index }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="title">
                    <th
                        mat-header-cell
                        *matHeaderCellDef
                        class="text-center"
                        style="width: 40%"
                    >
                        <div
                            class="d-flex justify-content-center align-items-center"
                        >
                            Tiêu đề báo in
                        </div>
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-start">
                        {{ element.title }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th
                        mat-header-cell
                        *matHeaderCellDef
                        class="bold text-center"
                        style="width: 230px"
                    >
                        Thao tác
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        <div class="d-flex justify-content-center">
                          
                    <v-icon-button
                        matTooltip="Chỉnh sửa câu hỏi"
                        (click)="editArticle()"
                    >
                        <i class="ri-edit-fill"></i>
                    </v-icon-button>
                    <v-icon-button

                        color="warn"
                        matTooltip="Xóa câu hỏi"
                        (click)="cancel()"
                    >
                        <i class="ri-delete-bin-line"></i>
                    </v-icon-button>
                      </div>
                    </td>
                </ng-container>
            </v-table>
        </div>
    </mat-card-content>
</mat-card>
