.inactive,
.completed {
    padding: 4px 13px 5px !important;
    width: 106px;
    font-size: var(--fontSize);
    border-radius: 5px !important;
}
.completed {
    color: #00b69b !important;
    background-color: #00b69b33 !important;
}
.inactive {
    color: #ee368c !important;
    background-color: #ee368c33 !important;
}