

<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-space-between">
    <h5 class="mb-0">Thêm mới gói cước</h5>
    <ol class="breadcrumb mb-0 ps-0">
        <li class="breadcrumb-item">
            <a routerLink="/">Cài đặt</a>
        </li>
        <li class="breadcrumb-item">
            <a routerLink="/settings/package">Quản người dùng</a>
        </li>
        <li class="breadcrumb-item fw-semibold">Thêm mới thông tin </li>
    </ol>
</div>

<user-form class="mt-m13" [action]="'save'" style="display: flex;overflow-y: true;"></user-form>