.mess {
    text-align: left;
}

.yellow-text {
    color: #e9b60f;
}

.green-text {
    color: #198754;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 7px !important;
}

.v-confirm-dialog {
    background-color: #f7f8f7;
    .header {
        padding: 15px 20px;
        background: #b3aef633;
        &-title {
            font-size: 15px;
            color: #260944;
            font-weight: 700;
        }
        &-close {
            size: 20px !important;
            color: #909090 !important;
            font-size: 14px;
            font-weight: 700 !important;
            outline: none;
            &:hover {
                cursor: pointer;
            }
        }
    }
    &-content {
        min-width: 380px;
        max-width: 485px;
        padding: 20px;
        p {
            text-align: center;
            color: #260944;
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 15px !important;
        }
    }
}
