<form [formGroup]="myForm" >
    <mat-card class="tagus-card" >
        <mat-card-content>
            <div class="row mr-10 ml-10">

                <div class="col-lg-6">
                    <v-text-box 
                        label="Tiêu đề"
                        [control]="elementFormControl('title')"
                        [required]="true"
                        [message] = "errorMessage.title"
                        (touched)="onTouch('title')"
                    ></v-text-box>
                
                </div>
                <div class="col-lg-12">
                    <div class="v-customize-input" >
                        <label  class="d-block fw-semibold gray-color lbl mb-5">
                            anh dai dien
                            <span  class="ml-5 text-red">*</span>
                        </label>
                        <div style="margin-bottom: 80px;display: flex;flex-direction: row;">
                            <div>
                                <input type="file" (change)="onFileSelected($event)" />
                            </div>
                            <div>
                                <img src="images/admin.png" class="rounded-circle" width="60" alt="user-image">
                            </div>
                            
                        </div>
                           
                       
                    </div>

                </div>
                <div class="col-lg-12">
                    <v-content-editor
                        (uploadFileFromQuill)="whenUploadMedia($event)"
                        label="Nội dung"
                        [control]="elementFormControl('content')"
                        [required]="true"
                        [message] = "errorMessage.content"
                        (touched)="onTouch('content')"
                    ></v-content-editor>
                
                </div>

               

                
        </div>
        </mat-card-content>

        <div class="d-flex justify-content-end mt-20">
            <v-button class="mr-10 mb-10" (clickEvent)="cancel()">
                <i class="ri-close-line"></i>Huỷ
            </v-button>
            <v-button (clickEvent)="saveOrUpdate()" type="primary" class="mr-10 mb-10">
                <i class="ri-save-3-line"></i>Lưu
            </v-button>
        </div>
    </mat-card>

</form>
